
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Groenten</title>
</head>
<body>
    <h1>Groenten</h1>

    <ul>
        <!--type in de url om de array te weergeven "http://localhost:51593/home/groenten"-->
        @foreach (string groente in ViewBag.Groenten)
        {
            <li>@groente</li>
        }
    </ul>
</body>
</html>
