@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Groenten</title>
</head>
<body>
    <h1>Index</h1>
    @ViewBag.Groet

    <a asp-controller="Home" asp-action="Groenten">Groenten</a>
    <a asp-controller="Home" asp-action="Student">Studenten</a>

</body>
</html>
