@using MyHowest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <h1>Student</h1>

    <ul>
        @foreach (Student student in ViewBag.Student)
        {
            <li>@student</li>
        }
    </ul>
</body>
</html>
